body{
    background-color: orangered;
}

.standard{
    background-color: white;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
}

.changeable_title{
    border-width: 0px;
    background-color: orangered;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0px;
}

h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0px;
}

div.radio{
    display: flex;
    flex-direction: row;
}

input.radio{
    display: flex;
    flex-direction: column;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
    background-color: white;
}

label > input + div{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    background-color: white;
}

label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid black;
    background-color: lightblue;
}